<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<!-- app/views/welcome/index.html.erb -->
<h1><%= t('welcome') %></h1>
<p><%= t('header.menu.home') %> | <%= t('header.menu.service') %></p>
